/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@font-face {
  font-family:'Colfax';
  font-weight:normal;
  src:url("https://lolstatic-a.akamaihd.net/webfonts/live/fonts/colfax/ColfaxWebRegular.woff2") format('woff2')
 }
 @font-face {
  font-family:'Colfax';
  font-weight:bold;
  src:url("https://lolstatic-a.akamaihd.net/webfonts/live/fonts/colfax/ColfaxWebMedium.woff2") format('woff2')
 }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #0F1519;
  font-family: 'Mukta', sans-serif;
  scrollbar-color: #252c32 #0a0e13;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
}



/* HEADER */
@media all {
  .header {
    display: block;
    z-index: 100000;
    top: 0;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #000000;
    border-bottom: 1px solid #2f2f2f;
    color: #fff;
  }
  .dim{
    filter: brightness(30%);
    transition: 0.3s;
  }
  .header .header-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    height: 100%;
  }
  .header .header-content .header-left,
  .header .header-content .header-center,
  .header .header-content .header-right,
  .header-logo-right a{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
  }
  .header-logo-left{
    cursor: pointer;
    color: #505050;
  }
  .header-logo-left:hover{
    color: #fff !important;
  }
  .header-logo-left, .header-logo a{
    display: flex;
    align-items: center;
  }
  .header-left{
    margin-left: 25px;
  }
  .header-link{
    color: #8FA3B0;
  }
}


@media(max-width:1024px){
  .header-center .header-link,.header-left .header-logo-right{
    display: none;
  }
  .header-right .header-menu-icon{
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .header-right .header-menu-icon{
    position: fixed;
    right: 20px;
  }
  .header-right .header-menu-icon svg{
    background-color: #1d1d1d;
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
    transition: 0.2s;
  }
  .header-right .header-menu-icon svg:hover{
    background-color: #505050
  }
  .header-center{
    width: calc(100% - 20px - 20px - 53px - 23px);
    display: flex;
    justify-content: center;
  }
  .header-menu{
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1000000000;
    width: 315px;
    transition: ease-in 0.3s;
  }
  .header-menu .top{
    height: 80px;
    width: 100%;
    background-color: #000000;
    border-bottom: 1px solid #2f2f2f;
    display: flex;
    align-items: center;
    justify-content: right;
  }
  .header-menu .top .header-menu-svg {
    margin: 0 20px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-menu .top .header-logo{
    position: absolute;
    left: 20px;
  }
  .header-menu .top .header-menu-svg{
    background-color: #2f2f2f;
    cursor: pointer;
    border-radius: 50%;
  }
  .header-menu .top .header-menu-svg:hover{
    border-radius: 50%;
    background-color: #505050;
  }

  .header-menu .header-menu-content{
   background-color: #0F1519;
  }
  .header-menu .header-menu-content .link {
    display: flex;
    align-items: center;
    height: 59px;
    padding: 20px 18px;
    border-bottom: 1px solid #2f2f2f;
    color: #8FA3B0;
  }
  .active{
    color:#fff !important;
    border-left: 3px solid #0877b8;
  }
  .header-menu .header-menu-content .link a {
    display: flex;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    color: currentColor;
    letter-spacing: 0.1em;
  }
  .header-menu .header-menu-content .link:hover{
    color: #fff;
    border-left: 3px solid #0877b8;
  }
}


@media(min-width:1025px){
  .header-right, .header-logo{
    display: none !important;
  }
  .header-separator{
    height: 50%;
    border-left: 2px solid #505050;
    margin: 0 25px 0 4px;
  }
  .header-center{
    margin: 0 20px;
    
  }
  .header-title{
    display: flex;
    align-items: center;
    text-decoration: none;
    color:inherit;
    height: 80px;
    padding: 0 10px;
    transition: 0.2s;
    font-weight: 500;
    letter-spacing: 0.1em;
  }
  .active {
    border-bottom: 4px solid #0877b8;
    color: #fff !important;
  }
  .header-title:hover{
    border-bottom: 4px solid #0877b8;
    color: #fff !important;
  }
}

/* FOOTER */

@media all {
  .footer {
    width: 100%;
    background-color: #000;
    border-top: 1px solid #2f2f2f;
    color: #8FA3B0;
  }
  .footer .footer-content{
    display: flex;
    width: 100%;
    height: 100%;
  }
  .footer .footer-content .first,
  .footer .footer-content .second{
    color: currentColor;
    display: flex;
  }
}

@media(max-width:720px){
  .footer{
    height: 131px; 
  }
  .footer .footer-content{
    flex-direction: column ;
    align-items: center;
    padding: 15px;
  }
  .footer .footer-content .second{
    margin: 15px;
  }
  .footer .footer-content .second a {
    margin-right: 15px;
  }
}

@media(min-width:721px){
  .footer{
    height: 81px;
  }
  .footer .footer-content{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  .footer .footer-content .second a{
    margin-right: 15px;
  }
}


/* BODY */
@media all{
  .body{
    margin-top:80px;
    width: 100%;
  }
  .loading{
    width: 100%;
    height: 100%;
  }
}

/* MATCH WIDGET */

@media all{
  .match-widget{
    width:100%;
    height: 145px;
    background-color:#0A0E13 ;
    border-bottom: 1px solid #2f2f2f;
    
  }
  .match-widget .match-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    height: 100%;
  }

  .match-widget .settings{
    display:flex;
    z-index: 100;
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-bottom: 1px solid #252c32;
    border-left: 1px solid #252c32;
    background-color: #0F1519;
    transition: 0.3s;
  }

  .match-widget .match-container{
    height: 100%;
    position:relative;
    left: 0;
    transition: 0.2s;
  }

  .match-widget .match-container .match:last-child{
    border-right: 1px solid #252c32;
  }

  .match-widget .match-container .match{
    border-left: 1px solid #252c32;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    font-family: 'Colfax',Helvetica,sans-serif !important;
    color: #fff;
    font-weight: bold;
    padding: 10px 0 0 34px;
  }
  .match-container .match:not(.dayStarter){
    margin-top: 21.5px;
  }
  .match-container .teams {
    padding-top: 4px;
  }
  .match-container .teams .local,
  .match-container .teams .visitor{
    padding-top: 2px;
  }
  .match-widget .team-logo{
    width: 24px;
    height: 24px;
    margin-bottom: 3px;
    vertical-align: middle;
  }
  .match-container .teams .acronym{
    font-size: 1.6rem;
    margin: 9px 8px 0 8px;
  }
  .match-container .day span{
    color: #8fa3b0;
    font-size: 0.82rem;
    letter-spacing: 1px;
    margin-right: 10px;
  }
  .match-container .league{
    display: flex;
    align-items: center;
    justify-content: baseline;
  }
  .match-container .league span{
    color: #8fa3b0;
    font-size: 0.6rem;
    letter-spacing: 1px;
    margin-right: 10px;
  }
  .match-container .time span {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-items: initial;
  }
  .match-container .time::before, ::after {
    margin: 0;
    padding: 0;
}
}

/* BANNER WIDGET */

@media all{
  .content{
    height: 540px;
    background-image: url("https://i.ibb.co/Hgfw9V9/Banner-Final.png");
    background-position: center center;
    background-size: cover;
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 70px ;
    
  }
  .content h1, .content h2{
    font-size: 90px;
  }
}

@media(max-width:720px){
  .content{
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    padding-left: 40px !important;
  }
  .content h1{
    font-size: x-large;
    margin: 0 15px;
  }
  .content h2{
    font-size: x-large;
    margin: 0 0 15px 15px;
  }
}

@media(max-width: 1075px) and (min-width: 721px){
  .content{
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
  }
  .content h1, .content h2 {
    font-size: 70px;
  }
}

/* WRAPPER */

@media all{
  .wrapper{
    width: 100%;
    display: flex;
  }
}

@media (min-width:1024px){
  .wrapper{
    flex-direction: row;
  }
  .news-widget{
    width: 70%;
  }
  .vods-widget{
    width: 30%;
  }
}

@media (max-width:1023px){
  .wrapper{
    flex-direction: column;
  }
  .news-widget{
    width: 100%;
  }
  .vods-widget{
    width: 100%;
  }
}

/* NEWS */

@media all{
  .news-content{
    display: flex;
  }
  .news-widget .title{
    color: #f2f2f2;
    margin: 10px;
    font-size: x-large;
    font-weight: 900;
    border-bottom: 1px solid #f2f2f2;
  }
  .news-widget .more{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .news-widget .more a{
    width: 100%;
    height: 39px;
    max-width: 155px;
    background-color: #00c8c8;;
    display: flex;
    align-items: center;
    border-radius: 35px;
    font-size: 1.2rem;
    justify-content: center;
    padding: 5px 0;
    text-decoration: none;
    color: #000;
    font-weight: bolder;
    text-decoration: none;
    margin: 10px 0;
  }
  .news-widget .more::before{
    width: 60%;
    background-color: #252c32;
    content: '';
    z-index: -12;
    height: 1px;
    position: absolute;
  }
}

@media (min-width:1024px){
  .news-content{
    align-items: baseline;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
  }
  .news-content .column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:30px ;
  }
  .news-content .column .new{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .news-content .column .new .miniatura{
    width: 100%;
  }
  .news-content .column .new .miniatura img {
    height: auto;
    width: 100%;
  }
  .news-content .column .new a {
    text-decoration: none;
  }
  .news-content .column .new .type{
    color: #8fa3b0;
    font-weight: 900;
    margin:-5px 0;
    font-size: medium;
    text-decoration: none;
  }

  .news-content .column .new .new-title{
    color: #fff;
    font-weight: 900;
    margin:-5px 0;
    font-size: large;
    text-decoration: none;
  }

}

@media (max-width:1023px){
  .news-widget .more::before{
    width: 80%;
  }
  .news-widget .more a{
    scale: 85%;
  }
  .news-content{
    align-items: baseline;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
  }
  .news-content .column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 30px 0 30px ;
  }
  .news-content .column .new{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  .news-content .column .new:last-child{
    margin-bottom: 0 !important;
  }
  .news-content .column .new a{
    display: flex;
    flex-direction: row;
  }
  .news-content .column .new .miniatura{
    width: 20%;
  }
  .news-content .column .new .miniatura img {
    height: auto;
    width: 100%;
  }
  .news-content .column .new a {
    text-decoration: none;
  }
  .news-content .column .new a .text{
    display: flex;
    flex-direction: column;
    margin-left: 9px ;
  }
  .news-content .column .new .type{
    color: #8fa3b0;
    font-weight: 900;
    margin:-5px 0;
    font-size: medium;
    text-decoration: none;
  }

  .news-content .column .new .new-title{
    color: #fff;
    font-weight: 900;
    margin:-5px 0;
    font-size: large;
    text-decoration: none;
  }
}



/* VODS */

@media all{

  .vods-widget{
    border-left: 1px solid #2f2f2f;
    background-color: #0a0e13 ;
    display: flex;
    flex-direction: column;
  }
  .vods-widget .title{
    color: #788a96;
    margin: 15px;
    font-size: large;
    font-weight: 900;
  }
  .vods-widget .more{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .vods-widget .more a{
    width: 100%;
    height: 39px;
    max-width: 155px;
    background-color: #00c8c8;;
    display: flex;
    align-items: center;
    border-radius: 35px;
    font-size: 1.2rem;
    justify-content: center;
    padding: 5px 0;
    text-decoration: none;
    color: #000;
    font-weight: bolder;
    text-decoration: none;
    margin: 10px 0;
  }
  .vods-widget .vods-content{
    margin:10px;
  }
  .vods-widget .vods-content .vod a{
    display: flex;
    flex-direction: row;
    
  }
  .vods-content .vod .miniatura{
    width: 40%;
  }
  .vods-content .vod .miniatura img {
    height: auto;
    width: 100%;
  }
  .vods-content .vod .text{
    margin-left: 8px;
  }
}
@media (max-width:1023px){
  .vods-widget .vods-content .vod{
    margin: 10px 30px;
  };
  .vods-widget .more{
    scale: 85% !important;
  }
  
}